<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ap designer</title>
    <base href="/" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="assets/js/script.js" defer></script>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/card-controller.js" defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
      defer></script>
  </head>
  <body>
    <div class="sale">
      <section class="container-fluid bg-black text-white">
        <div
          class="container-xxl d-flex showAd justify-content-between align-items-center">
          <div class="d-flex text-center">
            <span>Summer Sale For All Swim Suits And Free Express Delivery - OFF
              50%!</span>
            <span class="ms-2 border-0"><u>ShowNow !</u></span>
          </div>
          <span class>English <i class="bi bi-chevron-compact-down"></i> </span>
        </div>
      </section>
    </div>
    <header>
      <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-light "
          aria-label="Offcanvas navbar large" id="dhara-plants-nav">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img class="brand-logo-img" src="assets/img/logo1.png"
                alt="brands-logo" height="80">
            </a>
            <button class="navbar-toggler py-2"
              type="button" data-bs-toggle="offcanvas"
              data-bs-target="#myOffcanvasNavbar"
              aria-controls="myOffcanvasNavbar">
              <i class="bi bi-list"></i>
            </button>
            <div class="sidebar offcanvas offcanvas-start   magic-bg"
              tabindex="-1"
              id="myOffcanvasNavbar" aria-labelledby="myOffcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title"
                  id="myOffcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-black me-2"
                  data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="offcanvas-body align-items-md-center">
                <ul class="navbar-nav  justify-content-center flex-grow-1 pe-3">
                  <li class="nav-item p-1 p-md-3 icons ">
                    <a class="nav-link" href="#!/">Home</a>
                  </li>

                  <li class="nav-item p-1 p-md-3 icons">
                    <a class="nav-link" href="#!/contact">Contact</a>
                  </li>
                  <li class="nav-item p-1 p-md-3 icons">
                    <a class="nav-link" href="#!/about">About</a>
                  </li>
                  <li class="nav-item p-1 p-md-3 icons">
                    <a class="nav-link" href="#!/signup">Sign up</a>
                  </li>
                </ul>

                <div class="search-group d-flex align-items-baseline">
                  <form class="input-group d-flex mt-3 mt-lg-0" role="search">
                    <input class="form-control" type="search"
                      placeholder="What are you looking for?"
                      aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit"
                      title="search">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                  <button type="button"
                    class="btn  rounded-pill ms-md-2  d-none d-sm-block">
                    <i class="fa-regular icons fa-heart"></i>
                  </button>
                  <button type="button"
                    class="btn rounded-pill ms-md-1 me-md-2 cart-btn">
                    <a href="#!cart" class="cart-link">
                      <i class="bi icons bi-cart3 text-black"></i>
                      <span class="cart-count" ng-bind="cartCount"></span>
                    </a>
                  </button>
                  <a href="#"
                    class="btn  rounded-circle d-none d-sm-block"
                    title="user-login"><i
                      class="fa-regular icons fa-user"></i></a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div ng-controller="CardController">
      <div class="container-fluid"><span class="lines rounded"></span></div>
      <section class="container-xxl" >
        <div class="row">
          <div class="col-2 d-none d-lg-flex flex-column gap-2 mt-4">
            <span class="d-flex justify-content-between">Woman's Fashion <i
                class="bi bi-chevron-compact-right"></i>
            </span>
            <span class="d-flex justify-content-between">Men's Fashion <i
                class="bi bi-chevron-compact-right"></i>
            </span>
            <span>Electronics</span>
            <span>Home &amp Lifestyle</span>
            <span>Medicine</span>
            <span>Sports</span>
            <span>Baby's &amp Toys</span>
            <span>Baby's &amp Toys</span>
            <span>Groceries &amp Pets</span>
            <span>Health &amp Beauty</span>
          </div>
          <div class="col-1 d-none d-md-block">
            <span class="line rounded"></span>
          </div>
          <div class="col-9 mt-4 ms-4">
            <div class="heroslider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container-xxl mt-5 gap-bottom">
        <div class="d-flex align-items-start">
          <span class="beforeSectionHeading"></span>
          <span class="beforeSectionSubHeading">Today's</span>
        </div>
        <div class="row">
          <div class="col-6">
            <span class="display-6 fw-semibold">Flash Sales</span>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 mt-2 mb-5">
          <div ng-repeat="card in todaysCards" class="col">
            <div ng-include="'card-template.html'"></div>
          </div>
        </div>
        <div class="text-center mb-5">
          <a href="#" class="viewMore"> view All products </a>
        </div>
      </section>
      <div ng-controller="SectionController">
        <div
          ng-include="'section-template.html'"
          ng-repeat="section in sections"></div>
      </div>
      <section class=" container-xxl jbl position-relative ">
        <div>
          <img src="assets/img/jbl.png" class="img-fluid w-100 " alt>
          <div
            class="section-text position-absolute d-flex justify-content-center align-items-start flex-column">
            <span class="timerCat h5">Categories</span>
            <span class="text-light display-4 mt-4">Enhance Your Music <br>
              Experience</span>

            <div>
              <div
                class="timer-content d-grid mt-5  mb-4"
                style="gap: 10px; grid-template-columns: auto auto auto auto">
                <div class="bg-timer d-flex flex-column"
                  style="align-items: center">
                  <div class="bg-time d-flex justify-content-center">
                    <div class="h3 timerValue" style="margin: 0">01</div>
                  </div>
                  <div class="date-hours">
                    <div class="h5">Days</div>
                  </div>
                </div>
                <div class="bg-timer d-flex flex-column"
                  style="align-items: center">
                  <div class="bg-time d-flex justify-content-center">
                    <div class="timerValue h3 m-0" id>01</div>
                  </div>
                  <div class="date-hours">
                    <div class="h5 m-0">Hours</div>
                  </div>
                </div>
                <div class="bg-timer d-flex flex-column"
                  style="align-items: center">
                  <div class="bg-time d-flex justify-content-center">
                    <div class="timerValue h3 m-0" id>01</div>
                  </div>
                  <div class="date-hours">
                    <div class="h5">Minutes</div>
                  </div>
                </div>
                <div class="bg-timer d-flex flex-column"
                  style="align-items: center">
                  <div class="bg-time d-flex justify-content-center">
                    <div class="timerValue h3 m-0" id>01</div>
                  </div>
                  <div class="date-hours">
                    <div class="h5">Seconds</div>
                  </div>
                </div>
              </div>
              <span class=" h4 mt-5 timerShop">Shop now</span>
            </div>
          </div>
        </div>
      </section>
      <section class="trustCard">
      </section>
    </div>
    <footer>
      <div class="container-fluid bg-black">
        <div class="container-xxl py-5">
          <div class="row">
            <div class="col-md-3  mb-3">
              <form>
                <h5 class="text-light">Ap studios</h5>
                <h5 class="text-secondary">Subscribe</h5>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email
                    address</label>
                  <input id="newsletter1" type="text" class="form-control"
                    placeholder="Email address">

                </div>
              </form>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <h5 class="text-light">Support</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">111, Govindpuri
                    kalkaji</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">exclusive@gmail.com</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">+91
                    8872446878</a></li>

              </ul>
            </div>

            <div class="col-6 col-md-3 mb-3">
              <h5 class="text-light">Account</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">My Acccount</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Login/Register</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Cart</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Whislist</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Shop</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <h5 class="text-light">Quick link</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Privacy policy</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Terms of use</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#"
                    class="nav-link p-0 text-secondary">Contacts</a></li>

              </ul>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
            <p>© 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg
                    class="bi" width="24" height="24"><use
                      xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg
                    class="bi" width="24" height="24"><use
                      xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg
                    class="bi" width="24" height="24"><use
                      xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
